.text-color{
   // color: $textColor
}
.box-shadow{
   box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}
.bg-white {
   background: rgb(255, 255, 255);
   padding: 15px 15px 0px;
   margin-bottom: 15px;
}
.b-white {
   background: rgb(255, 255, 255);
}
// 滚动条
.el-scrollbar__wrap {
   overflow-x: hidden !important;
 }
 .el-scroll-bar {
   position: relative;
   height: 100%;
 }
 .el-scroll-bar .is-horizontal{
   display: none !important;
 }
 .el-height-full{
   height: 100%;
 }
.default-size{
   font-size: 18px !important;
}
.inline-default-size{
   font-size: 16px !important;
}
.h1-title{
   font-size: 22px !important;
}
.h2-title{
   font-size: 20px !important;
}
// 配置组件字体大小
$default: 18px;
$inlineDefault: 16px;
$title: 22px;
$contentTitle: 20px;

#app {
   font-size: $inlineDefault;
   // 侧边栏
   .slide-container-wrap{
       .el-menu {
         &-item {
            font-size: $default
         }
       }
       .el-submenu__title {
         font-size: $default !important;
       }
   }
   .p-layout-topbar{
      // header字体
      font-size: $default
   }
   // 面包屑字体大小
   .app-breadcrumb {
      span{
         font-size: $default
      }
   }
}